<template>
  <main>
    <div class="container">
      <div class="row">
        <input-toolbox
          v-model="text"
          button-id="btnCopy"
        ></input-toolbox>
      </div>

      <div class="row">
        <toggle
          class="half"
          text-on="switch to scan mode"
          text-off="switch to create mode"
          v-model="pageScan"
        ></toggle>

        <div
          class="half"
          v-if="cameraPermitted"
          :class="{'hidden': this.page !== 'scan'}"
        >
          <span v-if="cameras.length === 0">No cameras found</span>
          <select
            class="cameraSelect"
            v-else
            v-model="selectedCameraId"
          >
            <option
              v-for="camera in cameras"
              :key="camera.id"
              :value="camera.id"
            >{{formatCameraName(camera.name)}}</option>
          </select>
        </div>
      </div>

      <div class="row page">
        <print-page
          :class="{'hidden': this.page !== 'print'}"
          v-model="text"
        ></print-page>
        <scan-page
          v-if="cameraPermitted"
          :class="{'hidden': this.page !== 'scan'}"
          :camera="selectedCamera"
          @scan="qrCodeScanned"
        />
      </div>
    </div>
  </main>
</template>

<script>
const PAGE_PRINT = 'print';
const PAGE_SCAN = 'scan';

module.exports = {
  components: {
    'input-toolbox': window.httpVueLoader('src/components/InputToolbox.vue'),
    'toggle': window.httpVueLoader('src/components/Toggle.vue'),
    'scan-page': window.httpVueLoader('src/components/ScanPage.vue'),
    'print-page': window.httpVueLoader('src/components/PrintPage.vue'),
  },
  data () {
    return {
      page: 'print',
      pageScan: false,

      text: '',

      clipboard: null,

      cameraPermitted: false,
      cameras: [],
      selectedCameraId: null,
      selectedCamera: null,
    }
  },
  methods: {
    initClipboardJs () {
      var self = this;
      this.clipboard = new ClipboardJS('#btnCopy', {
        text: function () {
          return self.text === '' ? EMPTY_CONTENT : self.text;
        }
      })
        .on('success', function (e) {
          e.clearSelection();
          self.$toasted.success('Text copied!');
        });
    },
    tryGetCameraAccess () {
      var self = this;
      navigator.getUserMedia(
        {
          video: true,
          audio: false
        },
        function (localMediaStream) {
          self.cameraPermitted = true;
          Instascan.Camera.getCameras().then(function (cameras) {
            self.cameras = cameras;
            if (cameras.length > 0) {
              self.selectedCameraId = cameras[0].id;
            }
          });
          self.changePage(PAGE_SCAN);
        },
        function (err) {
          self.$toasted.error('Can\'t scan QR code without camera permissions');
          self.$nextTick(() => {
            self.pageScan = false;
          });
        }
      );
    },
    formatCameraName (name) {
      return name || '(unknown)';
    },
    qrCodeScanned (text) {
      this.text = text;
      document.getElementById("btnCopy").click();
    },
    switchPage (page) {
      this.page = page;
    },
    changePage (page) {
      var body = document.getElementsByTagName('body')[0];
      this.page = page;
      body.className = page === PAGE_SCAN ? 'red' : 'green';
    }
  },
  watch: {
    pageScan () {
      if (this.pageScan) {
        if (!this.cameraPermitted) {
          this.tryGetCameraAccess();
        } else {
          this.changePage(PAGE_SCAN);
        }
      } else {
        this.changePage(PAGE_PRINT);
      }
    },
    selectedCameraId () {
      var self = this;
      self.selectedCamera = this.cameras.find(function (obj) {
        return obj.id === self.selectedCameraId;
      })
    }
  },
  mounted () {
    this.initClipboardJs();
  }
}
</script>

<style>
main {
  text-align: center;
  padding-top: 10vh;
}
.hidden {
  display: none;
}
.row .half {
  float: left;
  width: 50%;
  margin: 0.5rem 0;
}

select.cameraSelect {
  height: 2rem;
  float: right;
  font-size: 1rem;
  cursor: pointer;
  padding: 0 1rem;
  background: #fff5;
  border-top: none;
  border-left: none;
  border-right: none;
}
select.cameraSelect:hover {
  background: #fff9;
}
select.cameraSelect:focus {
  outline: none;
}

.page {
  background-color: #fff5;
}

body.green {
  background: #4cd964;
  background: -moz-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, #4cd964),
    color-stop(100%, #5ac8fa)
  );
  background: -webkit-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
  background: -o-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
  background: -ms-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
  background: linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cd964', endColorstr='#5ac8fa', GradientType=1);
}
body.red {
  background: #4cd964;
  background: -moz-linear-gradient(45deg, #4cd964 0%, #fac95a 100%);
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, #4cd964),
    color-stop(100%, #5ac8fa)
  );
  background: -webkit-linear-gradient(45deg, #ea5151 0%, #fac95a 100%);
  background: -o-linear-gradient(45deg, #ea5151 0%, #fac95a 100%);
  background: -ms-linear-gradient(45deg, #ea5151 0%, #fac95a 100%);
  background: linear-gradient(45deg, #ea5151 0%, #fac95a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea5151', endColorstr='#fac95a', GradientType=1);
}
</style>