<template>
  <div class="input-group">
    <button
      class="btn-copy"
      @click="$emit('copy')"
      :id="buttonId"
    >
      COPY
    </button>
    <input
      autocomplete="off"
      :type="inputType"
      v-model="text"
    />
    <button @click="inputHidden = !inputHidden">
      <i
        v-if="inputHidden"
        class="fa fa-eye"
      ></i>
      <i
        v-else
        class="fa fa-eye-slash"
      ></i>
    </button>
  </div>
</template>

<script>
module.exports = {
  props: {
    value: {
      type: String,
      required: true,
    },
    buttonId: {
      type: String,
      required: false,
    }
  },
  data () {
    return {
      text: this.value,
      inputHidden: true,
    }
  },
  computed: {
    inputType () {
      return this.inputHidden ? 'password' : 'text';
    },
  },
  watch: {
    text () {
      this.$emit('input', this.text)
    },
    value () {
      this.text = this.value
    }
  },
}
</script>

<style scoped>
.input-group {
  display: flex;
}
input,
button {
  font-size: 1.5rem;
  height: auto;
  padding: 0.5rem;
  background-color: #ffffff55;
  border: none;
  border-bottom: 1px solid #00000055;

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input {
  width: 100%;
}
button {
  cursor: pointer;
}
button.btn-copy {
  padding: 0 20pt;
  line-height: 0;
  background-color: #ffb822;
}
button.btn-copy:hover {
  background-color: #eea200;
}
:focus {
  outline: none;
}
</style>