<template>
  <div>
    <div id="qrCode"></div>
  </div>
</template>

<script>
const EMPTY_CONTENT = '_clipboard_erased_';
const debounce = function (fn, delay) {
  var timeoutId = null;
  return function () {
    clearTimeout(timeoutId);
    var args = arguments;
    var that = this;
    timeoutId = setTimeout(function () {
      fn.apply(that, args);
    }, delay);
  }
}

module.exports = {
  components: {
    'input-toggle': window.httpVueLoader('src/components/InputToggle.vue'),
  },
  props: {
    value: {
      type: String,
      required: true,
      debounceTimeout: null,
    }
  },
  data () {
    return {
      text: this.value,
      clipboard: null,
    }
  },
  methods: {
    generateQrCode: debounce(function (content) {
      var qr = qrcode(0, 'H');
      qr.addData(unescape(encodeURIComponent(content)));
      qr.make();
      document.getElementById('qrCode').innerHTML = qr.createImgTag(12, 0);
    }, 500)
  },
  watch: {
    value () {
      this.generateQrCode(this.value);
    }
  },
  mounted () {
    this.generateQrCode(this.text);
  }
}
</script>

<style scoped>
img {
  margin: 1rem;
  max-width: 95%;
  max-height: 95%;
}
</style>