<template>
  <div>
    <video id="preview"></video>
  </div>
</template>

<script>
module.exports = {
  props: {
    camera: Object,
    required: true
  },
  data () {
    return {
      scanner: null,
    }
  },
  methods: {
    qrCodeScanned (content) {
      this.$emit('scan', content);
      this.$toasted.success('QR Code scanned');
    },
    detectBackCamera (name) {
      return name.indexOf('back') !== -1;
    },
    destroyScanner () {
      var self = this;
      return new Promise(function (resolve) {
        if (this.scanner) {
          this.scanner.stop(function () {
            resolve();
          })
        } else {
          resolve();
        }
      });
    },
    selectCamera (camera) {
      var self = this;
      this.destroyScanner().then(function () {
        if (self.camera) {
          var mirror = self.detectBackCamera(camera.name) ? false : true;
          self.scanner = new Instascan.Scanner({
            video: document.getElementById('preview'),
            scanPeriod: 5,
            mirror: mirror,
          });
          self.scanner.addListener('scan', self.qrCodeScanned);
          self.scanner.start(camera);
        }
      })
    }
  },
  watch: {
    camera () {
      this.selectCamera(this.camera);
    }
  }
}
</script>
<style scoped>
video {
  margin: 1rem;
  width: 95%;
  max-width: 95%;
}
</style>