<template>
  <div>
    <input
      class="tgl tgl-skewed"
      :id="identifier"
      type="checkbox"
      v-model="checked"
    />
    <label
      class="tgl-btn"
      :style="'width: ' + widthRem + 'rem'"
      :data-tg-off="textOff"
      :data-tg-on="textOn"
      :for="identifier"
    ></label>
  </div>
</template>
<script>
module.exports = {
  props: {
    value: {
      type: Boolean,
      default: true,
    },
    textOn: {
      type: String,
      default: 'ON',
    },
    textOff: {
      type: String,
      default: 'OFF',
    },
    inputId: {
      type: String,
      required: false,
    }
  },
  data () {
    return {
      checked: this.value,
    }
  },
  computed: {
    identifier () {
      return this.inputId || Math.random().toString(36).substr(2, 9);
    },
    widthRem () {
      var longerLength = Math.max(this.textOn.length, this.textOff.length);
      return Math.ceil(longerLength / 3) * 2;
    }
  },
  watch: {
    checked () {
      this.$emit('input', this.checked);
    },
    value () {
      this.checked = this.value;
    }
  }
}
</script>
<style>
.tgl {
  display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #ea6f6f;
}
.tgl-skewed + .tgl-btn:after,
.tgl-skewed + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
  background: #86d993;
}
.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}
</style>